:root {
    --card__shadow-1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --card__shadow-2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --card__shadow-3: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --card__shadow-4: 0 0 0.2rem rgb(0 0 0 / 10%), 0 0.2rem 0.4rem rgb(0 0 0 / 20%);
    --card__shadow-5: 0 0 10px rgba(0, 0, 0, 0.3);
    --card--round: 0.5rem;
    --card__padding: 0.5rem;
}

.card {
    padding: var(--card__padding);
    border-radius: var(--card--round);
    -webkit-border-radius: var(--card--round);
    -moz-border-radius: var(--card--round);
    -ms-border-radius: var(--card--round);
    -o-border-radius: var(--card--round);
}

/*
 * Shadow
 */
.card--shadow-1 {
    box-shadow: var(--card__shadow-1);
}

.card--shadow-2 {
    box-shadow: var(--card__shadow-2);
}

.card--shadow-3 {
    box-shadow: var(--card__shadow-3);
}

.card--shadow-4 {
    box-shadow: var(--card__shadow-4);
}

.card--shadow-5 {
    box-shadow: var(--card__shadow-5);
}
