@import "./styles/base/_reset.css";
@import "./styles/base/_font.css";
@import "./styles/base/_grid.css";
@import "./styles/component/card.css";

body {
    width: 100%;
    min-height: 100%;
    box-sizing: inherit;
}
